node_red.json
[{"id":"b4f1e5fe.4231a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dae5ce93.6ffcd","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"dd1736a3.5ce1c8","type":"ui_group","z":"","name":"Reg form","tab":"dae5ce93.6ffcd","order":1,"disp":true,"width":8,"collapse":false},{"id":"1cad2bce.7fe1d4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5e0e9954.b5ceb8","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"d78250d0.fe2d5","type":"ui_group","z":"","name":"Login Form","tab":"5e0e9954.b5ceb8","order":1,"disp":true,"width":8,"collapse":false},{"id":"1dc211c5.c0e26e","type":"ui_group","z":"","name":"Bot","tab":"dae5ce93.6ffcd","order":2,"disp":true,"width":"6","collapse":false},{"id":"f1b6a21a.95cc4","type":"ui_group","z":"","name":"Bot","tab":"dae5ce93.6ffcd","order":3,"disp":false,"width":"6","collapse":false},{"id":"d6dd884b.589b28","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","disabled":false,"hidden":false},{"id":"c17970c9.19109","type":"ui_group","z":"","name":"BOT","tab":"d6dd884b.589b28","order":1,"disp":true,"width":"6","collapse":false},{"id":"c1d2e59e.f0da48","type":"ui_form","z":"b4f1e5fe.4231a8","name":"","label":"","group":"dd1736a3.5ce1c8","order":1,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"Create","cancel":"Cancel","topic":"","x":150,"y":200,"wires":[["3cfec491.1efa3c","19a8ef05.44b1c1"]]},{"id":"3cfec491.1efa3c","type":"debug","z":"b4f1e5fe.4231a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":140,"wires":[]},{"id":"19a8ef05.44b1c1","type":"function","z":"b4f1e5fe.4231a8","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    Password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":260,"wires":[["562604d4.b921bc"]]},{"id":"562604d4.b921bc","type":"cloudant out","z":"b4f1e5fe.4231a8","name":"cloudant","cloudant":"","database":"sample","service":"node-red-sbnxb-2020--cloudant-1597409555018-41205","payonly":true,"operation":"insert","x":490,"y":260,"wires":[]},{"id":"56a1a2eb.3a298c","type":"ui_form","z":"b4f1e5fe.4231a8","name":"","label":"","group":"d78250d0.fe2d5","order":1,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":360,"wires":[["bf227f8c.bb419"]]},{"id":"bf227f8c.bb419","type":"function","z":"b4f1e5fe.4231a8","name":"","func":"global.set(\"emailid\",msg.payload.email);\nglobal.set(\"password\",msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":360,"wires":[["9a472c1e.d25e"]]},{"id":"9a472c1e.d25e","type":"function","z":"b4f1e5fe.4231a8","name":"","func":"var emailid=global.get('emailid');\nmsg.payload=\"emailid:\"+emailid\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":360,"wires":[["9c9d9793.d39b68"]]},{"id":"9c9d9793.d39b68","type":"cloudant in","z":"b4f1e5fe.4231a8","name":"","cloudant":"","database":"sample","service":"node-red-sbnxb-2020--cloudant-1597409555018-41205","search":"_idx_","design":"user","index":"user","x":540,"y":360,"wires":[["bd4fbbe3.6c3608"]]},{"id":"bd4fbbe3.6c3608","type":"function","z":"b4f1e5fe.4231a8","name":"","func":"if(msg.payload[0].Password===global.get('password')){\n    msg.payload=\"Login Successful\";\n}\nelse{\n    msg.payload=\"Login Failed\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":360,"wires":[["8a9932cb.43ce"]]},{"id":"8a9932cb.43ce","type":"ui_text","z":"b4f1e5fe.4231a8","group":"d78250d0.fe2d5","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":360,"wires":[]},{"id":"fec6e7bf.3e4e08","type":"watson-conversation-v1","z":"b4f1e5fe.4231a8","name":"","workspaceid":"a1eb85b9-77dc-402f-a94b-f2a3d92038fc","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/fc71bf6a-759a-4af4-859e-52a090ade820","timeout":"","optout-learning":false,"x":460,"y":480,"wires":[["1c2abccc.2ecae3","77d994.a30d066c"]]},{"id":"bb1a0406.b058f8","type":"function","z":"b4f1e5fe.4231a8","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":480,"wires":[["fec6e7bf.3e4e08"]]},{"id":"29a649d7.a75b56","type":"ui_form","z":"b4f1e5fe.4231a8","name":"","label":"","group":"c17970c9.19109","order":2,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":480,"wires":[["bb1a0406.b058f8"]]},{"id":"1c2abccc.2ecae3","type":"debug","z":"b4f1e5fe.4231a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":540,"wires":[]},{"id":"77d994.a30d066c","type":"function","z":"b4f1e5fe.4231a8","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":480,"wires":[["4d6f37f5.787068","8338d082.7c39d"]]},{"id":"4d6f37f5.787068","type":"ui_text","z":"b4f1e5fe.4231a8","group":"c17970c9.19109","order":1,"width":6,"height":6,"name":"","label":"Bot Response :","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":480,"wires":[]},{"id":"8338d082.7c39d","type":"ui_audio","z":"b4f1e5fe.4231a8","name":"","group":"c17970c9.19109","voice":"","always":"","x":820,"y":540,"wires":[]}]